.App {
  text-align: center;
}


nav {
display: gird;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color:palevioletred;
  color:red;

}
.navbar_link {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.label_first {  
  margin: 20px;
  border-width: 50px;
}
.div_first {    
  margin: 40px;
}
.div_second {

  margin: 30px;
}
.button1 {

width: 60px;
height: 4px;
}

.wrapper1 {
 display: grid;
 grid-template-columns: 25% 25% 25%;
grid-template-rows: auto;
}
.imagebox {
  border: 2px solid red;
}
.img1 {
  border: 2px solid red;
}
/*.sss{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-content: space-around;
  margin-right: 50px;
  
}*/
.button{
  background-color: seagreen;
}

.sss >div{
  border: chartreuse;
  padding: 1cm;
  width: 25%;
}
.imagebox{
  width: 300px;
  height: 300px;
  border: 10ch;
  border-left-color:fuchsia;
}
.main-para{
  width: 800px;
  height: 400px;
}


 

  





